.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    background-image: url("./images/Beer_Background.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    max-width: 700px;
}